@font-face{
    font-family: "Montserrat-Bold";
    src: url(/fonts/Montserrat-Bold.ttf)
  }
@font-face{
    font-family: "Montserrat-Regular";
    src: url(/fonts/Montserrat-Regular.ttf)
  }
@font-face{
    font-family: "Montserrat-Thin";
    src: url(/fonts/Montserrat-Thin.ttf)
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat-Regular";
    font-size: 16px;
    color: black;
    background: linear-gradient(115deg, rgba(255,213,157,1) 0%, rgba(181,255,228,1) 100%);  
}
a{
    text-decoration: none;
    color: black;
}


.wrapper{
    max-width: 800px;
    margin: 0 auto;
}

.header {
    padding: 50px 0;
    &__title {
        font-size: 42px;
        padding-bottom: 20px;
        
        &_small {
           font-size:24px; 
        }
    }
    &__icons {
        margin: 30px 0;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 100%;
        display:block;
    }

    &__icon {
        // border: 2px black solid;
        // display: block;
        width: 100px;
        // aspect-ratio: 1/1;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;

        &_chrome{
        }
        &_exp{

        }
        &_firefox{

        }
        &_safari{

        }
        &_opera{

        }
    }
}

.main {

    &__title {
        font-size: 24px;
        font-family: "Montserrat-Bold";
        text-transform: uppercase;
        padding-bottom: 40px;
    }
    &__items {
        // display: flex;
        // flex-direction: column;
    }

    &__item {
        margin: 30px 0 30px 20px;
        font-weight: bold;
        &:hover{
            color: rgb(240, 103, 39);
            font-size: 20px;
        }
    }
}

.sectionEl{
    &__title{

    }
}
.articleEl{
    &__title{
        
    }
    &__items{
        
    }
    &__item{
        margin:15px 0 15px 20px;
        font-weight: bold;
    }
}
.headerEl{
    &__title{
        
    }
}
.footerEl{
    &__title{
        
    }
}


.title {
    padding-bottom: 30px;
    text-align: center;
}
.text{
    font-size: 24px;
    font-family: "Montserrat-Regular";
    
}
.example {
    padding: 30px 0;
}
.semElements{
    font-family: "Montserrat-Bold";
}

